[submodule "gruvbox"]
    path = .vim/bundle/gruvbox
    url = https://github.com/morhetz/gruvbox.git
[submodule "vim-airline"]
    path = .vim/bundle/vim-airline
    url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
    path = .vim/bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes
[submodule "nerdcommenter"]
    path = .vim/bundle/nerdcommenter
    url = https://github.com/preservim/nerdcommenter
[submodule "vim-markdown"]
    path = .vim/bundle/vim-markdown
    url = https://github.com/preservim/vim-markdown
[submodule "vim-signature"]
    path = .vim/bundle/vim-signature
    url = https://github.com/kshenoy/vim-signature
[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders
