<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appLanguage</key>
	<string>ru</string>
	<key>autoQuitEnabled</key>
	<true/>
	<key>autoQuitExceptions</key>
	<array>
		<string>com.apple.finder</string>
		<string>org.qbittorrent.qBittorrent</string>
	</array>
	<key>batteryLimitPercent</key>
	<integer>10</integer>
	<key>defaultDurationMinutes</key>
	<integer>0</integer>
	<key>dockClickCycleWindows</key>
	<true/>
	<key>dockClickHide</key>
	<false/>
	<key>dockClickMinimize</key>
	<false/>
	<key>dockPreviewEnabled</key>
	<true/>
	<key>featureAvailable.appUpdates</key>
	<true/>
	<key>featureAvailable.autoQuit</key>
	<true/>
	<key>featureAvailable.bluetoothSleep</key>
	<false/>
	<key>featureAvailable.brightness</key>
	<true/>
	<key>featureAvailable.cameraPreview</key>
	<false/>
	<key>featureAvailable.cleaner</key>
	<true/>
	<key>featureAvailable.cleaningMode</key>
	<true/>
	<key>featureAvailable.clipboardHistory</key>
	<false/>
	<key>featureAvailable.colorPicker</key>
	<false/>
	<key>featureAvailable.commandBar</key>
	<false/>
	<key>featureAvailable.diskImageInstaller</key>
	<false/>
	<key>featureAvailable.dockClick</key>
	<true/>
	<key>featureAvailable.dockPreview</key>
	<true/>
	<key>featureAvailable.extraBrightness</key>
	<true/>
	<key>featureAvailable.fanControl</key>
	<false/>
	<key>featureAvailable.finderCutPaste</key>
	<false/>
	<key>featureAvailable.finderRename</key>
	<false/>
	<key>featureAvailable.focusFollowsMouse</key>
	<false/>
	<key>featureAvailable.homebrew</key>
	<false/>
	<key>featureAvailable.keepAwake</key>
	<true/>
	<key>featureAvailable.keyboardDebounce</key>
	<false/>
	<key>featureAvailable.killProcess</key>
	<false/>
	<key>featureAvailable.mediaTools</key>
	<false/>
	<key>featureAvailable.micMute</key>
	<false/>
	<key>featureAvailable.middleClick</key>
	<false/>
	<key>featureAvailable.mixer</key>
	<true/>
	<key>featureAvailable.monitorCPU</key>
	<true/>
	<key>featureAvailable.monitorDisk</key>
	<true/>
	<key>featureAvailable.monitorGPU</key>
	<true/>
	<key>featureAvailable.monitorMemory</key>
	<true/>
	<key>featureAvailable.monitorNetwork</key>
	<true/>
	<key>featureAvailable.monitorPower</key>
	<true/>
	<key>featureAvailable.mouseAcceleration</key>
	<false/>
	<key>featureAvailable.mouseButtonShortcuts</key>
	<false/>
	<key>featureAvailable.mouseClickDebounce</key>
	<false/>
	<key>featureAvailable.mouseNavigation</key>
	<false/>
	<key>featureAvailable.musicBlock</key>
	<true/>
	<key>featureAvailable.pastePlain</key>
	<false/>
	<key>featureAvailable.quickLauncher</key>
	<false/>
	<key>featureAvailable.quickToggles</key>
	<false/>
	<key>featureAvailable.quitWindowProtection</key>
	<false/>
	<key>featureAvailable.radialMenu</key>
	<false/>
	<key>featureAvailable.scratchpad</key>
	<true/>
	<key>featureAvailable.screenOCR</key>
	<true/>
	<key>featureAvailable.screenRecorder</key>
	<false/>
	<key>featureAvailable.screenshot</key>
	<true/>
	<key>featureAvailable.scrollInverter</key>
	<false/>
	<key>featureAvailable.shelf</key>
	<true/>
	<key>featureAvailable.smoothScroll</key>
	<false/>
	<key>featureAvailable.soundOutputSwitcher</key>
	<false/>
	<key>featureAvailable.superKey</key>
	<false/>
	<key>featureAvailable.switcher</key>
	<true/>
	<key>featureAvailable.textSnippets</key>
	<false/>
	<key>featureAvailable.uninstaller</key>
	<true/>
	<key>featureAvailable.urlCleaner</key>
	<true/>
	<key>featureAvailable.windowLayout</key>
	<false/>
	<key>featureAvailable.windowMaximizer</key>
	<false/>
	<key>featuresOnboardingVersion</key>
	<integer>4</integer>
	<key>focusFollowsMouseEnabled</key>
	<false/>
	<key>hasOnboarded</key>
	<true/>
	<key>keepAwakeActiveIcon</key>
	<string>vorssaint</string>
	<key>keepAwakeIconTint</key>
	<string>orange</string>
	<key>keepAwakeMouseJiggleIntervalMinutes</key>
	<integer>5</integer>
	<key>lastUpdateIntroVersion</key>
	<string>3.3.5</string>
	<key>launchAtLoginWanted</key>
	<true/>
	<key>menuBarBatteryTime</key>
	<false/>
	<key>menuBarCPU</key>
	<false/>
	<key>menuBarCPUTemperature</key>
	<false/>
	<key>menuBarDiskActivity</key>
	<false/>
	<key>menuBarDiskUsage</key>
	<false/>
	<key>menuBarGPU</key>
	<false/>
	<key>menuBarHideIconWithMetrics</key>
	<false/>
	<key>menuBarMemory</key>
	<false/>
	<key>menuBarMemoryStyle</key>
	<string>percent</string>
	<key>menuBarMetricAppearance</key>
	<string>values</string>
	<key>menuBarNetwork</key>
	<false/>
	<key>menuBarPeripheralBattery</key>
	<false/>
	<key>menuBarPower</key>
	<false/>
	<key>menuBarUsageBarCriticalColor</key>
	<string>#FF453A</string>
	<key>menuBarUsageBarElevatedColor</key>
	<string>#FFD60A</string>
	<key>menuBarUsageBarHighThreshold</key>
	<integer>90</integer>
	<key>menuBarUsageBarMediumThreshold</key>
	<integer>70</integer>
	<key>menuBarUsageBarNormalColor</key>
	<string>#64D2FF</string>
	<key>mixerHideInactiveApps</key>
	<true/>
	<key>monitorAlertBatteryPercent</key>
	<integer>15</integer>
	<key>monitorAlertBatteryTemperatureThreshold</key>
	<integer>40</integer>
	<key>monitorAlertCPUTemperatureThreshold</key>
	<integer>90</integer>
	<key>monitorAlertCPUThreshold</key>
	<integer>90</integer>
	<key>monitorAlertCooldownMinutes</key>
	<integer>15</integer>
	<key>monitorAlertDiskFreePercent</key>
	<integer>10</integer>
	<key>monitorIntervalSeconds</key>
	<integer>2</integer>
	<key>monitorMemoryMetric</key>
	<string>used</string>
	<key>monitorPwrTemperature</key>
	<true/>
	<key>monitorShowPower</key>
	<false/>
	<key>mouseClickDebounceEnabled</key>
	<false/>
	<key>musicBlockEnabled</key>
	<true/>
	<key>musicBlockReplacementPath</key>
	<string>/Applications/Spotify.app</string>
	<key>onboardingStep</key>
	<integer>0</integer>
	<key>orphanedCaptureShortcutMigrated</key>
	<true/>
	<key>panelCollapsedResetVersion</key>
	<string>2.15.1</string>
	<key>panelControlFilesExpanded</key>
	<true/>
	<key>panelControlInputExpanded</key>
	<true/>
	<key>panelControlWindowsExpanded</key>
	<true/>
	<key>panelSectionOrder</key>
	<string>utilities,keepAwake,brightness,mixer,system,network,disk,power,fanControl,controls,toggles</string>
	<key>preferredInputDevice</key>
	<string>F8-73-DF-E9-29-5F:input</string>
	<key>previewSize</key>
	<string>normal</string>
	<key>radialMenuEnabled</key>
	<false/>
	<key>restoredScreenCaptureShortcutsMigrated</key>
	<true/>
	<key>scratchpadRetention</key>
	<string>week</string>
	<key>screenshotLoupeLastZoom</key>
	<real>1</real>
	<key>scrollInverterHorizontalEnabled</key>
	<false/>
	<key>settingsWindowHeight</key>
	<real>838</real>
	<key>settingsWindowWidth</key>
	<real>929</real>
	<key>shelfEdgeDragEnabled</key>
	<false/>
	<key>shelfEnabled</key>
	<true/>
	<key>shelfItems</key>
	<data>
	W10=
	</data>
	<key>shelfShortcutEnabled</key>
	<false/>
	<key>showCountdownInMenuBar</key>
	<false/>
	<key>supportUpdateIntroVersion</key>
	<string>3.3.2</string>
	<key>switcherAppRules</key>
	<dict/>
	<key>switcherAppearanceDelay</key>
	<integer>50</integer>
	<key>switcherIconRowMode</key>
	<true/>
	<key>switcherMinimizedPlacement</key>
	<string>normal</string>
	<key>switcherSearchPinEnabled</key>
	<false/>
	<key>switcherSimpleMode</key>
	<false/>
	<key>switcherTakeOverSystemShortcuts</key>
	<false/>
	<key>unifiedScreenCaptureShortcutMigrated</key>
	<true/>
	<key>updateHighlightsSeenVersion</key>
	<string>3.3.3</string>
	<key>urlCleanerEnabled</key>
	<true/>
</dict>
</plist>
